{% extends "news/base.html" %}
{% load static %}
{% block content %}
<div class="container main-container">
    <h2 class="main-title">
        <img src="{{ country.flag }}" title="{{ country.name }}">
        {{ country.name }}
    </h2>
    <!-- All medias here, all articles below -->
    {% for media in country.medias %}
    <div class="intermediate-container">
        <h4>
            <img class="logo" src="{{ media.logo }}" title="{{ media.name }}">
            {{ media.name }}
        </h4>
        {% for article in media.articles %}
            <div class="row unit-row">
                <small class="date">{{ article.created_time|slice:"0:16" }} </small>
                <a href="{{article.url}}" target="_blank">
                    <h6>{{ article.header }}</h6>
                </a>
            </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}