@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&display=swap');


html {
  position: relative;
  min-height: 100%;
}

.navbar {
  background-image: url("/static/news/navbar_background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
}

.navbar-brand{
  color: #f0f2f5 !important;
  font-family: Montserrat Subrayada;
  font-size: 22px;
}

.nav-link {
  color: #f0f2f5 !important;
  font-weight: 600;
  font-size: 14px;
  font-stretch:ultra-expanded;
  letter-spacing: 1px;
}

body {
  background-color: #f8f9fa;
  margin-bottom: 60px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    eight: 60px;
    background-image: url("/static/news/navbar_background.jpg");
    color: #f0f2f5;
}

